/* ==========================================================================
   DEFAULT THEME
   ========================================================================== */

/* Color codes used for the theme */
$gray                       : #7a8288;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : #9ba1a6;
$lighter-gray               : mix(#fff, $gray, 90%);

$black                      : #000;
$dark-blue                  : #213555;
$medium-blue                : #3e5879;
$light-blue                 : #2f7f93;


$blue1                      : #0a1931;  
$blue2                      : #1a3d63;
$blue3                      : #4a7fa7;
$blue4                      : #b3cfe3;
$blue5                      : #f6fafd;

$beige1 : #d9d5d1;
$beige2 : #ad998a;
$beige-mix: #C7BDB5;

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #2f7f93;
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Default light theme for the site */
html[data-theme="dark"] {
    --global-base-color                 : #{$beige2};
    --global-bg-color                   : #{$blue1};
    --global-footer-bg-color            : #{$beige-mix};
    --global-border-color               : #{$beige1};

    // Don't know what these are yet
    --global-code-background-color      : #fafafa;
    --global-code-text-color            : #{$darker-gray};
    --global-fig-caption-color          : mix(#fff,  #{$dark-gray}, 25%);


    --global-link-color                 : #{$beige-mix};
    --global-link-color-hover           : mix(#000, #2f7f93, 25%);
    --global-link-color-visited         : mix(#fff, #2f7f93, 25%);  
 
    --global-text-color                 : #{$beige1};
    --global-text-color-light           : #{$lighter-gray};
    --global-thead-color                : #{$lighter-gray};

    --global-masthead-link-color        : #{$blue1};
    --global-masthead-link-color-hover  : #{$blue2};  
    --global-masthead-underline-color   : #{$blue2};

    --global-light-blue                 : #{$light-blue};
    --global-medium-blue                : #{$medium-blue};
    --global-dark-blue                  : #{$dark-blue};

    
    --global-masthead-bg-color          : #{$beige-mix};
    --global-author-color-sidebar       : #{$beige2};
}