

.software{

.software-desc p{

  text-align: justify;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: $type-size-5;

}

font-size: $type-size-6;


.container{
      padding:0px;
      display:flex;
      align-items: top;
      font-size: $type-size-3;

}

.container div{
  flex: 1;
  padding: 5px;
  margin: 5px;
  text-align: left;


}

.container p{
  text-align: justify;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: $type-size-6;
  align-self: center;

}

.container div:first-child{
  width: 120px;
  flex: none;

}

}



.software-desc{


}

.software-preview {
  display: table-cell;
  width: 36px;
  // set width only, for non-square avatars
  height: 36px;

  @include breakpoint($large) {
    display: block;
    width: auto;
    height: auto;
  }

  img {
    border-radius: 25%;

    @include breakpoint($large) {
      padding: 4px;
      border: 2px solid var(--global-border-color);
    }
  }
}
